@model BusinessAdvanceManagement.Domain.ViewModel.AdvanceRequestDetail.AdvanceRequestDetailListPageVM
<style>
    .table-container {
        overflow-x: auto;
    }
    .container {
        display: flex;
    }

    .column {
        flex: 1;
        margin: 10px;
        border: 1px solid #000; 
        padding: 10px;
    }

    .label-pair {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
    }
    label {
        flex: 1;
        margin-right: 10px; 
    }
</style>
<div class="container-fluid">
    <h1>Avans Talebi Tarihçesi</h1>
    <div class="container">
        <div class="column">
            <div class="label-pair">
                <label>Talep No:</label>
                <label>@Model.AdvanceRequestListDTO.AdvanceRequestID</label>
            </div>
            <div class="label-pair">
                <label>Talep Oluşturma Tarihi:</label>
                <label>@Model.AdvanceRequestListDTO.CreatedDate</label>
            </div>
            <div class="label-pair">
                <label>Alınmak İstenen Tarih:</label>
                <label>@Model.AdvanceRequestListDTO.DesiredDate</label>
            </div>
            <div class="label-pair">
                <label>Proje:</label>
                <label>@Model.AdvanceRequestListDTO.ProjectName</label>
            </div>
            <div class="label-pair">
                <label>Açıklama:</label>
                <label>@Model.AdvanceRequestListDTO.Description</label>
            </div>
        </div>

        <div class="column">
            <div class="label-pair">
                <label>Talep Edilen Tutar:</label>
                <label>@Model.AdvanceRequestListDTO.Amount</label>
            </div>
            <div class="label-pair">
                <label>Onaylanan Tutar:</label>
                <label>@Model.AdvanceRequestListDTO.ConfirmedAmount</label>
            </div>
            <div class="label-pair">
                <label>Son Durumu:</label>
                <label>@Model.AdvanceRequestListDTO.StatuName</label>
            </div>
            
        </div>
    </div>

    <div class="table-responsive table-container">
        <table class="table table-bordered border-dark">
            <thead>
                <tr>
                    <th>işlem no</th>
                    <th>Durum</th>
                    <th>İşlem Zamanı</th>
                    <th>İşlemi Yapan</th>
                    <th>Sonraki Aşama Kullanıcısı</th>
                    <th>Sonraki Durum</th>
                    <th>Onaylanan Tutar</th>
                    <th>Ödeme Yapılacak Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AdvanceRequestDetailListDTO)
                {
                    <tr>
                        <td>@item.AdvanceRequestDetailID</td>
                        <td>@item.FirstStatuName</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.FirstWorkerName @item.FirstWorkerSurname</td>
                        <td>@item.LastWorkerName @item.LastWorkerSurname</td>
                        <td>@item.NextStatuName</td>
                        <td>@item.ConfirmedAmount</td>
                        <td>
                            @Model.AdvanceRequestListDTO.PaymentMadeDate
                        </td>
                    </tr>
                   

                }

            </tbody>

        </table>
    </div>


</div>


