@model BusinessAdvanceManagement.Domain.ViewModel.RequestDetail.PendingApprovalPageVM
<style>
    .table-container {
        overflow-x: auto;
    }
</style>
<div class="container-fluid">
    <h1>Onay Bekleyen Avans Talepleri</h1>

    <div class="table-responsive table-container">
        <table class="table table-bordered border-dark">
            @if (Model.RolID == 2)
            {
                <thead>
                    <tr>
                        <th>Çalışanın Adı:</th>
                        <th>Unvanı</th>
                        <th>Birimi</th>
                        <th>Talep Durumu</th>
                        <th>Talep Oluşturma Tarihi</th>
                        <th>Talep Tutarı</th>
                        <th>İstenilen Tarih</th>
                        <th>Proje</th>
                        <th>Detay</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ConfirmAdvanceListDTOs)
                    {
                        <tr>
                            <td>@item.WorkerName @item.WorkerSurname</td>
                            <td>@item.RoleName</td>
                            <td>@item.UnitName</td>
                            <td>@item.StatuName</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.Amount</td>
                            <td>@item.DesiredDate</td>
                            <td>@item.ProjectName </td>
                            <td>
                                <a  class="btn btn-link">
                                    <i class="far fa-hand-point-right"></i>
                                </a>
                            </td>
                        </tr>


                    }

                </tbody>
            }
            else
            {
                <thead>
                    <tr>
                        <th>Çalışanın Adı:</th>
                        <th>Unvanı</th>
                        <th>Birimi</th>
                        <th>Talep Durumu</th>
                        <th>Talep Oluşturma Tarihi</th>
                        <th>Talep Tutarı</th>
                        <th>İstenilen Tarih</th>
                        <th>Proje</th>
                        <th>Son Onaylayan</th>
                        <th>Son Onaylayan Unvan</th>
                        <th>Son Onaylanma Tarihi</th>
                        <th>Son Onaylanan Tutar</th>
                        <th>Detay</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ConfirmAdvanceListDTOs)
                    {
                    <tr>
                        <td>@item.WorkerName @item.WorkerSurname</td>
                        <td>@item.RoleName</td>
                        <td>@item.UnitName</td>
                        <td>@item.StatuName</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.Amount</td>
                        <td>@item.DesiredDate</td>
                        <td>@item.ProjectName </td>
                        <td>@item.EndConfirmWorkerName @item.EndConfirmWorkerSurname</td>
                        <td>@item.EndConfirmRoleName</td>
                        <td>@item.EndConfirmDate</td>
                        <td>@item.EndConfirmAmount</td>
                        <td>
                            <a class="btn btn-link">
                                <i class="far fa-hand-point-right"></i>
                            </a>
                        </td>
                    </tr>


                    }

                </tbody>
            }


        </table>
    </div>
</div>
